.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li a{
    border-radius: 9999px;
    cursor: pointer;
    display: block;
    margin-right: 4pc;
    padding: 8px 24px;
    width: fit-content;
    background-color: #365069;
    border: 1px solid #365069;
    font-family: Nunito-Semibold, sans-serif;
    font-size: 1pc;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-decoration: none;
}
.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li:nth-child(2) a{
    background-color: #fff;
    color: #333;
}
.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul{
    display: flex;
    margin-bottom: 24px;
}
.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li{
    position: relative;
}
.section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li::after{
    background-color: #afb9c3;
    border-radius: 4px;
    content: "";
    height: 24px;
    margin: auto 0;
    position: absolute;
    right: 14%;
    top: 20%;
    width: 1px;
}
/* media coverage and press conference tab and cards component */

.section.media-cards-wrapper .carousel-inner{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    border-bottom: 2px solid #e5e7eb;
    gap: 1pc;
    margin-bottom: 3pc;
    width: fit-content;
}
    .section.media-cards-wrapper .carousel-item{
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 2pc;
    margin-bottom: -1px;
    padding: 0 0 9px;
}
.section.media-cards-wrapper .carousel-item.active{
    border-bottom: 2px solid #f26841;
    color: #f26841;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 24px;
    font-weight: 800;
    line-height: 2pc;
}
.section.media-cards-wrapper .panel-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}
.section.media-cards-wrapper .teaser .background .front-picture picture img{
    height: 81px;
    width: 102px;
}
.section.media-cards-wrapper .long-description ul{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}
.section.media-cards-wrapper .long-description ul li{
    color: #666;
    font-family: Nunito-Semibold, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.section.media-cards-wrapper .long-description ul li:nth-child(2) a{
    color: #f26841;
    font-family: Nunito-Bold, sans-serif;
    font-size: 1pc;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
}
.section.media-cards-wrapper .long-description p{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
}
.section.media-cards-wrapper .panel-container .teaser{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
    border-radius: 16px;
}
.section.media-cards-wrapper .foreground{
    padding: 16px;
}
.section.media-cards-wrapper .front-picture{   
    align-items: flex-end;
    background-color: #365069;
    border-radius: 1pc 1pc 0 0;
    display: flex;
    height: 6pc;
    justify-content: center;
    width: 100%;
}
.section.media-cards-wrapper .front-picture picture{
    display: flex;
}
.section.media-cards-wrapper .tab-container-wrapper:last-child .tab-container .panel-container .teaser .background .front-picture picture img{
    height: 44px;
    margin-bottom: 25px;
    width: 108px;
}
.section.press-release-card-wrapper .default-content-wrapper ul li:nth-child(1){
    font-size: 12px;
    line-height: 1rem;
}
.section.press-release-card-wrapper .default-content-wrapper ul li:nth-child(2){
    font-size: 16px;
    line-height: 1.5rem;
}
.section.press-release-card-wrapper .default-content-wrapper ul{
    padding: 14px 40px 14px 14px;
    background-color: #F4F4F4;
    color: #333;
    margin-bottom: 16px;
}
.section.press-release-card-wrapper .default-content-wrapper ul:hover{
    background-color: #f26841;
    color: #fff;
}
.section.press-release-card-wrapper .default-content-wrapper ul li{
    font-family: Nunito-Bold, sans-serif;
}
.section.press-release-card-wrapper .default-content-wrapper{
    padding-top: 48px;
}
@media screen and (max-width:768px) {
    .section.media-cards-wrapper .panel-container{
        gap: 16px;
        grid-template-columns: 1fr;
        margin-top: 24px;
    }
    .section.media-cards-wrapper .carousel-item.active{
        font-size: 1pc;
        line-height: 24px;
    }
    .section.media-cards-wrapper .carousel-item{
        font-size: 1pc;
        line-height: 24px;
    }
    .section.media-cards-wrapper .carousel-inner{
        margin: 1pc auto 24px;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li a{
        font-size: 12px;
        margin-right: 32px;
        padding: 9px 16px;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li:nth-child(2) a{
        font-size: 12px;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul{
        justify-content: center;
    }
    .section.media-coverage-wrapper .tab-link-wrapper .tab-link ul li::after{
        right: 10%;
    }
}