.section.carousel-articles-wrapper .default-content-wrapper #recommended-articles{
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}
.section.carousel-articles-wrapper .default-content-wrapper p{
    color: #666;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 8px;
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel .panel-container .teaser .background .foreground{
    padding: 0 16px 24px;
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel .panel-container .teaser .background{
    position: unset;
    align-items: center;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 8px;
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .08);
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel .panel-container .teaser .background .front-picture picture img{
    border-radius: 20px;
    height: 92px;
    object-fit: cover;
    min-width: 294px;
    width: 100%;
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev  div div picture img,
.section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next div div picture img{
    border: 1px solid #365069;
    border-radius: 50%;
    bottom: 50%;
    color: #365069;
    height: 40px;
    margin-top: unset;
    right: -60px !important;
    top: 50%;
    width: 40px;
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev,
.section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next{
    background: unset;
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel{
    position: relative;
    margin-top: 24px;
    margin: 0 38px;
}
.section.carousel-articles-wrapper .default-content-wrapper{
    padding: 0 38px;
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev{
    padding: unset;
    margin: unset;
    position: absolute;
    left: -8%;
    top: 42%;
}
.section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next{
    padding: unset;
    margin: unset;
    position: absolute;
    right: -8%;
    top: 42%;
}
.section.carousel-articles-wrapper .button-container a{
    color: #f26841;
    font-family: Nunito-Bold, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 2pc;
    background: unset;
    margin-right: 8px;
    position: relative;
}
.section.carousel-articles-wrapper .button-container ::after{
   content: '';
   height: 14px;
   width: 7px;
   top: 0;
   position: absolute;
}
.section.carousel-articles-wrapper .long-description ul li a {
    color: #333;
    display: inline-block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    text-decoration: none;
}
.section.carousel-articles-wrapper .default-content-wrapper .button-container{
    text-align: center;
}

.section.carousel-articles-wrapper .default-content-wrapper .button-container a {
    color: #f26841;
    font-family: Nunito-Bold, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 2pc;
    margin-right: 8px;
    background: unset;
    display: inline-block;
    padding: unset;
    margin: unset;
    overflow: unset;
}
.section.carousel-articles-wrapper .default-content-wrapper .button-container ::after{
    content: '>';
    right: -13px;
}
.section.carousel-articles-wrapper .carousel.block .panel-container .teaser.block{
    width: 28%;
    padding: 8px;
    margin-right: 10px;
}
.section.carousel-articles-wrapper .panel-container{
    width: 100%;
    display: flex;
    align-items: center;
}
.section.carousel-articles-wrapper .foreground .text .long-description ul{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.section.carousel-articles-wrapper .foreground .text .long-description ul li:first-child{
    margin-bottom: 16px;
    grid-column: 1 / span 2;
    
}
.section.carousel-articles-wrapper .foreground .text .long-description ul li:nth-child(2),
.section.carousel-articles-wrapper .foreground .text .long-description ul li:nth-child(3) {
    grid-column: span 1;
    color: #999;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    }
    .section.carousel-articles-wrapper .default-content-wrapper .button-container{
        margin-top: 24px;
    }
    @media screen and (max-width: 767.99px) {
        .section.carousel-articles-wrapper .carousel.block .panel-container .teaser.block{
            width: 100%;
        }
        .section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-prev,
        .section.carousel-articles-wrapper .carousel-wrapper .carousel .carousel-navigation-buttons .slide-next{
            display: none;
        }
        .section.carousel-articles-wrapper .carousel-wrapper .carousel .button-container button{
            height: 4px;
            width: 4px;
            margin: 0 4px;
            background: var(--swiper-pagination-bullet-inactive-color, #000);
            opacity: var(--swiper-pagination-bullet-inactive-opacity, .2);
        }
        .section.carousel-articles-wrapper .carousel .button-container button.selected{
            background-color: #000;
            border-radius: 4px;
            height: 4px;
            width: 16px;
            opacity: 1;
        }
        .section.carousel-articles-wrapper .carousel-wrapper .carousel .button-container{
            display: flex;
            padding-top: 45px;
        }
        .section.carousel-articles-wrapper .carousel-wrapper .carousel .panel-container .teaser .background .front-picture picture img{
            display: block;
        }
        .section.carousel-articles-wrapper .default-content-wrapper #recommended-articles{
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 4px;
        }
        .section.carousel-articles-wrapper .carousel-wrapper .carousel{
            margin-top: unset;
        }
        .section.carousel-articles-wrapper .default-content-wrapper .button-container a{
            font-size: 18px;
            line-height: 28px;
        }
        .section.carousel-articles-wrapper .default-content-wrapper .button-container{
            margin-top: 24px;
        }
        .section.carousel-articles-wrapper .default-content-wrapper p{
            display: none;
        }
        .section.carousel-articles-wrapper .default-content-wrapper .button-container{
            display: block;
        }
        .section.carousel-articles-wrapper .carousel-wrapper .carousel{
            margin: unset;
        }
        .section.carousel-articles-wrapper .default-content-wrapper{
            padding: unset;
        }
        .section.carousel-articles-wrapper .default-content-wrapper .button-container ::after{
            top: -1px;
        }
    }