.accordion details {
    display: block;
    background-color: var(--spectrum-gray-100);
    color: var(--non-spectrum-grey);
    padding: 0 16px;
}

.accordion details summary {
    box-sizing: content-box;
    cursor: pointer;
    list-style: none;
    padding: 16px 0;
    font-weight: var(--font-weight-700);
    font-size: var(--spectrum-font-size-100);
    line-height: 21px;
}

.accordion details summary :where(h2, h3, h4, h5, h6) {
    margin: 0;
    font: inherit;
    color: inherit;
    display: inline;
}

.accordion details summary::before {
    content: url("../../icons/chevron_right.svg");
    position: relative;
    top: 3.5px;
    left: -4.2px;
    margin-right: -2px;
}

.accordion details summary::-webkit-details-marker {
    display: none;
}

.accordion details summary::marker {
    content: none;
}

.accordion details div>div {
    color: var(--non-spectrum-raisin-black);
    font-size: var(--spectrum-font-size-200);
    line-height: var(--spectrum-line-height-m);
    margin-left: 14px;
    margin-top: 14px;
}

.accordion details h1,
.accordion details h2,
.accordion details h3 {
    margin-top: 14px;
}

.accordion p {
    margin-top: 14px;
}

.accordion p:last-child {
    margin-bottom: 0;
}

.accordion ul {
    margin-top: 14px;
}

.accordion ul li {
    margin-top: 0;
    margin-bottom: 14px;
    line-height: 1.5;
}

.accordion ul li:last-child {
    margin-bottom: 0;
}

.accordion ul li ul {
    margin-bottom: 14px;
}

.accordion ol li p {
    margin-bottom: 8px;
}

ol .accordion summary {
    font-size: var(--spectrum-font-size-200);
}

ol .accordion ul {
    margin-bottom: 14px;
}

.accordion details .accordion {
    margin: 0;
}

.accordion details details summary {
    font-size: var(--spectrum-font-size-200);
    line-height: 24px;
}

.accordion details[open] {
    padding-bottom: 16px;
}

.accordion details[open] summary::before {
    content: url("../../icons/chevron_down.svg");
}

.accordion .code-wrapper,
.accordion .code-wrapper div,
.accordion .note-wrapper,
.accordion .note-wrapper div {
    margin-left: 0;
    margin-top: 0;
}

.accordion .code pre {
    padding: 14px;
    line-height: 21px;
}

.accordion .code code {
    font-size: var(--spectrum-font-size-100);
}

.shade-box .accordion-wrapper:first-child details {
    padding-top: 16px;
}

/* faq Accordion */

.faq-accordion-css .accordion-group-wrapper {
    background-color: #fff;
    border-radius: 24px;
    -webkit-box-shadow: 0 4px 9pt rgba(51, 51, 51, .08);
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .08);
    padding: 0 2pc;
    border: 1px solid hsla(0, 2%, 75%, .4);
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box {
    padding: unset;
    border-radius: unset;
    margin-bottom: unset;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block {
    border-bottom: 1px dashed #ccc;
}


.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details {
    padding: unset;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
    padding-bottom: 44px;
    padding-left: 20px;
    margin-left: unset;
    margin-top: unset;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div p {
    margin-top: unset;
    margin-top: unset;
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 4px;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3,
.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    margin-top: unset;
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 4px;

}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 2pc 0;
    position: relative;

}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../icons/downArrow.png');
    background-size: cover;
    margin-left: 10px;
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active::after {
    transform: rotateX(175deg);

}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::before {
    content: unset
}

.faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block:last-child {
    border-bottom: unset;
}


/* Faq Accordion With Orange Heading on Active */
.faq-section-wrapper.faq-accordion-css-with-orange-heading {
    background-color: rgba(255, 244, 231, 0.3);
    padding-bottom: 72px;
    padding-top: 72px;
}

.faq-accordion-css-with-orange-heading .default-content-wrapper h2 {
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}

.faq-accordion-css-with-orange-heading .default-content-wrapper,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper {
    max-width: 1240px;
    margin: auto;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box {
    background-color: unset;
    padding: unset;
    border-radius: unset;
    margin-bottom: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper {
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
    padding: unset;
    border: none;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 24px;
    padding-left: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details {
    padding: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block {
    border-bottom: 1px dashed #ccc;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 2pc 0;
    position: relative;

}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../../icons/downArrow.png');
    background-size: cover;
    /* margin-left: 10px; */
}


.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active::after {
    transform: rotateX(175deg);

}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary::before {
    content: unset
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    margin-top: unset;
    color: #333;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;

}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
    padding: 24px 0px
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary:first {
    padding-top: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-left: unset;
    margin-top: unset;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active h3,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active {
    color: #f26841;
    font-weight: 700;
}

/* .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>article>div,
.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>article>div>article>div {
    margin: 0;
}

.faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div>article>div>article>div>p {
    margin: 0;
} */

/* End */

@media screen and (max-width:1024px) {
    .faq-accordion-css .accordion-group-wrapper {
        padding: 0px 16px;
        border-radius: 12px;
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3 {
        font-size: 18px;
        line-height: 28px;
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
        padding: 1pc 0;
        font-size: 18px;
        line-height: 28px;
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
        padding-bottom: 2pc;
        padding-left: unset;
    }

    .cmp-container--documentrequired>.cmp-container .documentrequired .required-document-container {
        padding: 12px 16px
    }

    .faq-accordion-css .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div p {
        font-size: 16px;

    }

    /* accordion with orange heading */
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details>div {
        font-size: 16px;

    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3,
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary {
        font-size: 16px;
        line-height: 24px;
        align-items: flex-start;
        /* width: 83%; */
    }


    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block details h3 {
        width: 83%;
    }

    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active h3,
    .faq-accordion-css-with-orange-heading .accordion-group-wrapper .accordion-group.block.shade-box .accordion.block summary.active {
        color: #f26841;
        font-size: 16px;
    }

    .faq-accordion-css-with-orange-heading .default-content-wrapper h2 {
        font-size: 20px;
        line-height: 28px;
    }
}