/* Eligiblity Criteria Start */
.section.eligibility-criteria-wrapper .default-content-wrapper>h2 {
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 16px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>p {
    color: #000;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>ul {
    margin-top: 24px;
    list-style: none;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>ul>li strong {
    display: block;
    color: #f26841;
    font-family: 'Nunito-Bold', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 8px;
}

.section.eligibility-criteria-wrapper .default-content-wrapper>ul>li>ul>li {
    color: #333;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width:768px) {
    .section.eligibility-criteria-wrapper {
        margin-bottom: 40px;
    }

    .section.eligibility-criteria-wrapper .default-content-wrapper>h2 {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 8px;
    }

    .section.eligibility-criteria-wrapper .default-content-wrapper>ul>li strong {
        font-size: 16px;
        line-height: 24px;
    }
}
/* Eligiblity Criteria Start */