/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/src/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/glob-import-loader/index.js??ruleSet[1].rules[1].use[4]!./src/main/webpack/clientlibs/productpage/applyloanform/css/applyloanform.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.loan-form-sub-parent {
    visibility: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1210;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -webkit-transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        width: 100%;
        height: 92vh;
        -webkit-transition: -webkit-transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        transition: -webkit-transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        position: fixed;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0px;
        max-height: 100%;
        -webkit-box-align: unset;
        -ms-flex-align: unset;
        align-items: unset;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
    }
}

.loan-form-sub-parent>.cmp-container {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.8705882353);
    -webkit-transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
    margin: 32px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100% - 64px);
    width: 690px;
    max-width: 1200px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container {
        width: 100%;
        margin: 0 auto;
        max-height: unset;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form {
    border-radius: 12px;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 244, 231)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(rgb(255, 244, 231) 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-filter: drop-shadow(rgba(51, 51, 51, 0.07) 0px 0px 8px);
    filter: drop-shadow(rgba(51, 51, 51, 0.07) 0px 0px 8px);
    overflow-y: scroll;
    max-height: 592px;
    height: 100%;
    padding: 24px 32px 0px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form {
        max-height: 100%;
        background: unset;
        padding: unset;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container {
        padding: 24px 16px 0px;
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 244, 231)), to(rgba(255, 255, 255, 0)));
        background: linear-gradient(rgb(255, 244, 231) 0%, rgba(255, 255, 255, 0) 100%);
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 16px;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) {
    -ms-flex-preferred-size: 7.4%;
    flex-basis: 7.4%;
    width: 45px;
    height: 35px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) {
        -ms-flex-preferred-size: 13.2%;
        flex-basis: 13.2%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) {
        -ms-flex-preferred-size: 6.5%;
        flex-basis: 6.5%;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(1) .cmp-image__image {
    width: 100%;
    height: 100%;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) {
    width: 20px;
    height: 20px;
    cursor: pointer;
    -ms-flex-preferred-size: 3.5%;
    flex-basis: 3.5%;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) {
        -ms-flex-preferred-size: 3%;
        flex-basis: 3%;
    }
}

@media screen and (max-width: 767px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) {
        -ms-flex-preferred-size: 8%;
        flex-basis: 8%;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .image:nth-child(3) .cmp-image__image {
    width: 100%;
    height: 100%;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text {
    -ms-flex-preferred-size: 89.1%;
    flex-basis: 89.1%;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text {
        -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    }
}

@media screen and (max-width: 767px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text {
        -ms-flex-preferred-size: 88%;
        flex-basis: 88%;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent>.cmp-container .text p {
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form {
        margin-top: 24px;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox {
    grid-column: span 2;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox {
        grid-column: span 1;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-form-options__legend {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #365069;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    padding-top: 8px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent {
    border: 1px solid #afb9c3;
    border-radius: 12px;
    cursor: pointer;
    padding: 8.7px 20px;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent {
        padding: 7.1px 20px;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label {
    cursor: pointer;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field--radio {
    margin: 0;
    border: 1px solid;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field--radio {
        margin: 0;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field--radio:checked {
    border: 1px solid #F26841;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field--radio:checked::before {
    background: #F26841;
    content: "";
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field--radio:checked~.cmp-form-options__field-description {
    color: #f26741;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field--radio:checked~.coloricon {
    display: block;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field--radio:checked~.blackicon {
    display: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent input[type=radio].cmp-form-options__field--radio {
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    accent-color: #000000;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field-description {
    -ms-flex-preferred-size: 73.9%;
    flex-basis: 73.9%;
    margin-left: 8px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8705882353);
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .cmp-form-options__field-description {
        -ms-flex-preferred-size: 90.9%;
        flex-basis: 90.9%;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .icon {
    -ms-flex-preferred-size: 14%;
    flex-basis: 14%;
    height: 36px;
    width: 36px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .icon {
        -ms-flex-preferred-size: unset;
        flex-basis: unset;
    }
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .icon {
        height: 39px;
        width: 39px;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .coloricon {
    display: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .loan-form-checkbox .cmp-form-options--radio .cmp-field-parent-parent .cmp-form-option-parent .cmp-form-options__field-label .cmp-form-input-parent .blackicon {
    display: block;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text label {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #365069;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text label span {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #eb5752;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent {
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4196078431);
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent:hover::before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8705882353);
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent::after {
    border-bottom: 2px solid #20303f;
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent:focus-within::before {
    border-bottom-color: #20303f;
    /* Change to desired color */
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent:focus-within::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .cmp-form-text__text {
    width: 100%;
    background: transparent;
    border: none;
    z-index: 1;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.8705882353);
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .cmp-form-text__text::-webkit-input-placeholder {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #afb9c3;
    opacity: 1;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .cmp-form-text__text::-moz-placeholder {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #afb9c3;
    opacity: 1;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .cmp-form-text__text:-ms-input-placeholder {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #afb9c3;
    opacity: 1;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .cmp-form-text__text::-ms-input-placeholder {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #afb9c3;
    opacity: 1;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .cmp-form-text__text::placeholder {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #afb9c3;
    opacity: 1;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .dobclass {
    cursor: pointer;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .rupee {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.5411764706);
    margin-right: 8px;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .arrowimage {
    width: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .arrowimage img {
    height: 24px;
    width: 21px;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .dobarrow {
    cursor: pointer;
    position: absolute;
    right: 0;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .dobarrow img {
    width: 24px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .dobarrow img {
        width: 18px;
        height: 20px;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .laststate {
    width: unset;
    display: block;
    cursor: pointer;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .laststate img {
    height: 24px;
    width: 24px;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text .cmp-form-text-parent .loan-form-err {
    display: none;
    position: absolute;
    top: 32px;
    padding-top: 4px;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #EF4444;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text>.option-form-parent {
    display: none;
    background: #ffffff;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    overflow-y: scroll;
    width: 100%;
    max-height: 320px;
    margin-bottom: 8px;
    position: absolute;
    top: 100%;
    z-index: 2;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text>.option-form-parent .option-form {
    padding: 24px 20px 0px;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text>.option-form-parent .option-form ul li {
    padding: 12px 0px 12px 8px;
    cursor: pointer;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8705882353);
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text>.option-form-parent .option-form ul li:nth-child(1) {
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F58667;
    padding: 12px 0px 12px 0px;
    pointer-events: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text>.option-form-parent .option-form ul li:nth-child(1):hover {
    background-color: unset;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form .text .cmp-form-text>.option-form-parent .option-form ul li:hover {
    background-color: #F0F0F0;
    border-radius: 4px;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form-checkbox {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 32px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form-checkbox {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form-checkbox>.checkboxtext {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .cmp-form-checkbox>.checkboxtext a {
    padding-left: 8px;
    text-decoration: underline;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-form-otp {
    display: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .sucess-form {
    display: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-request-fail-form {
    display: none;
}

.loan-form-sub-parent>.cmp-container .loan-form>.cmp-container .loan-sw-wrong {
    display: none;
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container {
    padding: 0px 32px 32px;
    background: #ffffff;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container>.loan-form-button-container {
        padding: 0px 16px 0px;
    }
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container {
    pointer-events: none;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 48px;
    margin-top: 48px;
    background: #FAC3B3;
    border-radius: 8px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container .btn-text {
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container .loader {
    display: none;
    width: 75px;
    aspect-ratio: 6;
    --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: 33.3333333333% 100%;
    -webkit-animation: l7 1s infinite linear;
    animation: l7 1s infinite linear;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container .loader {
        width: 38px;
        aspect-ratio: 6;
    }
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container .cmp-container.loan-form-button-active {
    pointer-events: unset;
    cursor: pointer;
    background-color: rgb(242, 104, 65);
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container.loader-initialized .cmp-container .btn-text {
    display: none;
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container.loader-initialized .cmp-container .loader {
    display: block;
}

.loan-form-sub-parent>.cmp-container>.loan-form-button-container.btn-active .cmp-container,
.loan-form-sub-parent>.cmp-container .loan-form-otp-button-container.btn-active .cmp-container {
    background: #F26841;
}

.loan-form-sub-parent>.cmp-container>.loan-form-otp-button-container {
    display: none;
}

.loan-form-sub-parent>.cmp-container>.sw-wrong-button-container {
    display: none;
}

.loan-form-sub-parent>.cmp-container>.option-form-parent {
    visibility: hidden;
    background: #ffffff;
    border-radius: 6px;
    overflow-y: scroll;
    height: 142px;
    max-height: 320px;
    margin-bottom: 8px;
    width: 297px;
}

@media screen and (max-width: 767px) {
    .loan-form-sub-parent>.cmp-container>.option-form-parent {
        width: 93%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loan-form-sub-parent>.cmp-container>.option-form-parent {
        width: 96%;
    }
}

.loan-form-sub-parent>.cmp-container>.option-form-parent .option-form {
    padding: 0px 20px 0px;
}

.loan-form-sub-parent>.cmp-container>.option-form-parent .option-form ul li {
    padding: 12px 0px 12px 8px;
    cursor: pointer;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.8705882353);
}

.loan-form-sub-parent>.cmp-container>.option-form-parent .option-form ul li:nth-child(1) {
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #F58667;
    padding: 12px 0px 12px 0px;
    pointer-events: none;
}

.loan-form-sub-parent>.cmp-container>.option-form-parent .option-form ul li:nth-child(1):hover {
    background-color: unset;
}

.loan-form-sub-parent>.cmp-container>.option-form-parent .option-form ul li:hover {
    background-color: #F0F0F0;
    border-radius: 4px;
}

@media screen and (max-width: 1024px) {
    .loan-form--open {
        -webkit-transition: -webkit-transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        transition: -webkit-transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        -webkit-transform: translate(0) !important;
        transform: translate(0) !important;
    }

    .loan-form--close {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

.arrowimage.inverted img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.checkspan-child {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
}

.checkboxcontainer {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 2px;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked~.checkmark {
    background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
    left: 4px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2.4px 2.4px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkspan {
    height: 45px;
    width: 45px;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

.checkspan-child {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 50%;
    right: 10%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.checkspan:hover {
    background-color: rgba(25, 118, 210, 0.04);
}

.circle {
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 9px;
    top: 9px;
    position: absolute;
}

.circle.animate {
    -webkit-animation: expanding 1s linear;
    animation: expanding 1s linear;
}

.circle.movecircle {
    -webkit-animation: expanding2 1s linear;
    animation: expanding2 1s linear;
}

@-webkit-keyframes expanding {
    0% {
        width: 0px;
        border: 0px solid rgba(0, 0, 0, 0.54);
    }

    50% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }

    100% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }
}

@keyframes expanding {
    0% {
        width: 0px;
        border: 0px solid rgba(0, 0, 0, 0.54);
    }

    50% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }

    100% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }
}

@-webkit-keyframes expanding2 {
    0% {
        width: 0px;
        border: 0px solid rgba(0, 0, 0, 0.54);
    }

    50% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }

    100% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }
}

@keyframes expanding2 {
    0% {
        width: 0px;
        border: 0px solid rgba(0, 0, 0, 0.54);
    }

    50% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }

    100% {
        width: 45px;
        border: 20px solid rgba(25, 118, 210, 0.04);
    }
}

@-webkit-keyframes l7 {
    33% {
        background-size: 33.3333333333% 0%, 33.3333333333% 100%, 33.3333333333% 100%;
    }

    50% {
        background-size: 33.3333333333% 100%, 33.3333333333% 0%, 33.3333333333% 100%;
    }

    66% {
        background-size: 33.3333333333% 100%, 33.3333333333% 100%, 33.3333333333% 0%;
    }
}

@keyframes l7 {
    33% {
        background-size: 33.3333333333% 0%, 33.3333333333% 100%, 33.3333333333% 100%;
    }

    50% {
        background-size: 33.3333333333% 100%, 33.3333333333% 0%, 33.3333333333% 100%;
    }

    66% {
        background-size: 33.3333333333% 100%, 33.3333333333% 100%, 33.3333333333% 0%;
    }
}

.loan-form-sub-otp>.cmp-container {
    height: 446px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container {
        height: 100%;
    }
}

.loan-form-sub-otp>.cmp-container .loan-form {
    height: 100%;
    overflow-y: unset;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent .cmp-container .crossimage {
    display: none;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container>.container {
    display: none;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .cmp-form-checkbox {
    display: none;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp {
    display: block;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .leftarrow {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .leftarrow {
        height: 16px;
        width: 16px;
    }
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otphead {
    margin-top: 12px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8705882353);
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 8px;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer {
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        gap: 8px;
    }
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead {
        font-size: 14px;
        line-height: 20px;
    }
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead .otp-phone-num {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead .otp-phone-num {
        display: block;
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otpsubhead .otp-phone-num {
        display: unset;
    }
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otp-change-num {
    margin-left: 8px;
    cursor: pointer;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-decoration: underline;
}

@media screen and (max-width: 1024px) {
    .loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubheadcontainer .otp-change-num {
        margin-left: unset;
    }
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .otpsubsubhead {
    margin-top: 24px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #365069;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp {
    position: relative;
    padding-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp::before {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4196078431);
    left: 0px;
    bottom: 0px;
    content: " ";
    position: absolute;
    right: 0px;
    -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp:hover::before {
    border-bottom: 2px solid rgba(0, 0, 0, 0.8705882353);
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp::after {
    border-bottom: 2px solid #20303f;
    left: 0px;
    bottom: 0px;
    content: "";
    position: absolute;
    right: 0px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, -webkit-transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    pointer-events: none;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp:focus-within::before {
    border-bottom-color: #20303f;
    /* Change to desired color */
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp:focus-within::after {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp input {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.8705882353);
    padding: 4px 0px 5px;
    border: 0px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: none;
    height: 23px;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    width: 100%;
    z-index: 1;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .inputotp span {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #20303f;
    position: absolute;
    right: 0;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .wrongotpmessage {
    display: none;
    padding-top: 4px;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #EF4444;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext {
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext p {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext button {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    background: transparent;
    border: 0px;
    cursor: pointer;
}

.loan-form-sub-otp>.cmp-container .loan-form>.cmp-container .loan-form-otp .loan-form-otp-parent .resendtext span {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666666;
}

.loan-form-sub-otp>.cmp-container>.loan-form-button-container {
    display: none;
}

.loan-form-sub-otp>.cmp-container>.loan-form-otp-button-container {
    display: block;
    padding: 0 20px;
}

.loan-form-sub-otp>.cmp-container>.loan-form-otp-button-container .cmp-container {
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 16px;
}

.loan-form-sub-otp>.cmp-container .sw-wrong-button-container {
    display: none;
}

@media screen and (max-width: 1024px) {
    .loan-form-success {
        height: 100%;
    }
}

.loan-form-success .cmp-container {
    height: auto;
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container {
        height: 100%;
        border-radius: 0px;
    }
}

.loan-form-success .cmp-container .loan-form {
    padding-bottom: 32px;
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form {
        padding-bottom: 40px;
        max-height: unset;
        border-radius: 0px;
    }
}

.loan-form-success .cmp-container .loan-form .cmp-container .loan-form-heading-parent {
    display: none;
}

.loan-form-success .cmp-container .loan-form .cmp-container .loan-form-otp {
    display: none;
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form {
    display: block;
    height: 100%;
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .cross {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .cross .loansucess {
    max-height: 178px;
    height: 100%;
    width: 295px;
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .cross .loansucess {
        margin-top: 100px;
    }
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .cross .crossimage {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .loan-request-text {
    padding-top: 24px;
    text-align: center;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8705882353);
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .qrcode-text {
    padding-top: 8px;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .qrcode-text {
        display: none;
    }
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .barcode-parent {
    padding-top: 12px;
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .barcode-parent {
        display: none;
    }
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .barcode-parent .barcode {
    height: 139px;
    width: 139px;
}

.loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .mobilescanner {
    display: none;
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .mobilescanner {
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .mobilescanner .mobilescannertext {
        display: block;
        font-family: "Nunito-Regular", sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #333333;
    }
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .mobilescanner .mobilebuttons {
        display: block;
        margin-top: 12px;
        gap: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media screen and (max-width: 1024px) {
    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .mobilescanner .mobilebuttons a {
        height: 36.2px;
    }

    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .mobilescanner .mobilebuttons a .first-img {
        width: 122px;
        height: 100%;
    }

    .loan-form-success .cmp-container .loan-form .cmp-container .sucess-form .sucess-form-parent .mobilescanner .mobilebuttons a .second-img {
        width: 108px;
        height: 100%;
    }
}

.loan-form-success .cmp-container .loan-form-otp-button-container {
    display: none;
}

.loan-form-success .cmp-container .sw-wrong-button-container {
    display: none;
}

@media screen and (max-width: 1024px) {
    .loan-form-request-fail {
        height: 100%;
    }
}

.loan-form-request-fail>.cmp-container {
    min-height: 446px;
}

@media screen and (max-width: 1024px) {
    .loan-form-request-fail>.cmp-container {
        min-height: unset;
        height: 100%;
        border-radius: 0px;
    }
}

.loan-form-request-fail>.cmp-container .loan-form {
    padding: 24px 15px 0px;
    overflow-y: auto;
}

@media screen and (max-width: 1024px) {
    .loan-form-request-fail>.cmp-container .loan-form {
        overflow-y: unset;
        padding: unset;
        border-radius: 0px;
    }
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-form-heading-parent {
    display: none;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .container {
    display: none;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .cmp-form-checkbox {
    display: none;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-form-otp {
    display: none;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-sw-wrong {
    display: none;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form {
    display: block;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .images .errorimage {
    width: 295px;
    height: 178px;
}

@media screen and (max-width: 1024px) {
    .loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .images .errorimage {
        margin-top: 80px;
    }
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .images .failformcross {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 8px;
}

@media screen and (max-width: 1024px) {
    .loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .images .failformcross {
        margin-right: 0px;
    }
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .main-heading {
    text-align: center;
    padding-top: 24px;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8705882353);
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .main-sub-heading {
    text-align: center;
    padding-top: 8px;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .redbox {
    padding: 16px;
    background-color: #FCE6E5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
    margin: 16px 0px 32px;
    border-radius: 8px;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .redbox .alertimg {
    height: 16px;
    width: 16px;
}

.loan-form-request-fail>.cmp-container .loan-form .cmp-container .loan-request-fail-form .redbox p {
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #E14046;
}

.loan-form-request-fail>.cmp-container .loan-form-button-container {
    display: none;
}

@media screen and (max-width: 1024px) {
    .loan-form-something-wrong {
        height: 100%;
    }
}

.loan-form-something-wrong>.cmp-container {
    min-height: 446px;
}

@media screen and (max-width: 1024px) {
    .loan-form-something-wrong>.cmp-container {
        min-height: unset;
        height: 100%;
        border-radius: 0px;
    }
}

.loan-form-something-wrong>.cmp-container .loan-form {
    padding: 24px 24px 0px;
    overflow-y: auto;
    max-height: unset;
    height: unset;
}

@media screen and (max-width: 1024px) {
    .loan-form-something-wrong>.cmp-container .loan-form {
        height: 100%;
        padding: unset;
    }
}

@media screen and (max-width: 767px) {
    .loan-form-something-wrong>.cmp-container .loan-form>.cmp-container {
        padding: 24px 24px 0px;
    }
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-form-heading-parent {
    display: none;
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .container {
    display: none;
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .cmp-form-checkbox {
    display: none;
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-form-otp {
    display: none;
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-sw-wrong {
    display: block;
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-sw-wrong .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-sw-wrong .images .errorimage {
    width: 295px;
    height: 178px;
}

@media screen and (max-width: 1024px) {
    .loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-sw-wrong .images .errorimage {
        margin-top: 80px;
    }
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-sw-wrong .images .failformcross {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-sw-wrong .main-heading {
    text-align: center;
    padding-top: 24px;
    font-family: "Nunito-Extrabold", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.8705882353);
}

.loan-form-something-wrong>.cmp-container .loan-form>.cmp-container .loan-sw-wrong .main-sub-heading {
    text-align: center;
    padding-top: 8px;
    font-family: "Nunito-Regular", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}

.loan-form-something-wrong>.cmp-container .loan-form-button-container {
    display: none;
}

.loan-form-something-wrong>.cmp-container .sw-wrong-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.loan-form-something-wrong>.cmp-container .sw-wrong-button-container .cmp-container {
    background-color: #F26841;
    border: unset;
    margin-top: 48px;
    border-radius: 8px;
    padding: 11px 5px;
    max-width: 328px;
    width: 100%;
    cursor: pointer;
    font-family: "Nunito-Bold", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .loan-form-something-wrong>.cmp-container .sw-wrong-button-container .cmp-container {
        max-width: 100%;
        border-radius: unset;
    }
}

.air-datepicker-global-container {
    z-index: 2000;
}