.section.awards-recognition-wrapper .default-content-wrapper h3 {
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 40px;
    line-height: 3pc;
    margin-bottom: 1.4pc;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested>.normal>.carousel-inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .normal .carousel-inner .carousel-item {
    font-family: Nunito-Regular, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 2pc;
    cursor: pointer;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .normal .carousel-inner .carousel-item.active {
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
    font-family: 'Nunito-Extrabold', sans-serif;
    font-weight: 800;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child {
    position: relative;
    margin: 3pc auto;
    overflow: hidden;
    width: 80%;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child .carousel-inner {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    gap: unset;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child .carousel-inner .carousel-item {
    border-bottom: none;
    font-family: Nunito-Bold, sans-serif;
    padding: 0 20px;
    text-align: center;
    flex: 0 0 33.33%;
    background: unset;
    box-sizing: border-box;
    margin-right: unset;
    cursor: pointer;
    font-size: 16px;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child .carousel-inner .carousel-item.active {
    color: #e56a0b;
    border-bottom: unset;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child button {
    background-color: unset;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child button.prev {
    left: 0px;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child button.next {
    right: 0px;
}

.section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child button>div img {
    height: 16px;
    width: 16px;
    display: block;
}


.section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser {
    border-radius: 1pc;
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .078);
    display: block;
    margin: auto auto 24px;
    padding: 39px 2pc;
    width: 100%;
    overflow: auto;
}

.section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser .background {
    position: unset;
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser .background .front-picture picture img {
    display: block;
    width: 100px;
    height: 100px;
}

.section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser .background .foreground .text .long-description>ul {
    padding-left: 16px;
}

.section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser .background .foreground .text .long-description>ul>li {
    list-style-type: disc;
    margin-bottom: 16px;
    font-family: Nunito-Regular, sans-serif;
    font-size: 18px;
    line-height: 28px;
}

@media screen and (max-width: 1024px) {

    .section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested>.normal>.carousel-inner {
        gap: 16px;
    }

    .section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .normal .carousel-inner .carousel-item {
        font-size: 16px;
        line-height: 24px;
    }

    .section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser {
        margin-bottom: 16px;
        padding: 16px;
    }

    .section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser .background {
        flex-direction: column;
        gap: 16px;
    }

    .section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser .background .front-picture picture img {
        width: 48px;
        height: 48px;
    }

    .section.awards-recognition-wrapper .tab-container-wrapper .tab-container .panel-container .teaser .background .foreground .text .long-description>ul>li {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child {
        width: 68%;
    }
}

@media screen and (max-width: 767px) {
    .section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child {
        margin-bottom: 30px;
        margin-top: 30px;
        width: 76%;
    }

    .section.awards-recognition-wrapper .tab-name-nested-wrapper .tab-name-nested .nested-tab-name-child .carousel-inner .carousel-item {
        flex: 0 0 50%;
    }
}