/* quick Approvals Start */

.section.metro-cities-wrapper {
    background-color: #FFF7F4;
}

.section.metro-cities-wrapper .default-content-wrapper {
    padding: 80px 0;
}

.section.metro-cities-wrapper .default-content-wrapper>h2 {
    color: #000;
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}

.section.metro-cities-wrapper .default-content-wrapper>p {
    margin-bottom: 24px;
    color: #666;
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 8px;
}

.section.metro-cities-wrapper .city-list-wrapper {
    padding: 0 0 80px 0;
}

.section.metro-cities-wrapper .default-content-wrapper>ul,
.section.metro-cities-wrapper .city-list-wrapper .city-list > ul{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    list-style-type: disc;
}

.section.metro-cities-wrapper .default-content-wrapper>ul li,
.section.metro-cities-wrapper .city-list-wrapper .city-list > ul li {
    display: list-item;
    list-style-position: inside;
    list-style-type: disc;
}

.section.metro-cities-wrapper .default-content-wrapper>ul li::marker,
.section.metro-cities-wrapper .city-list-wrapper .city-list > ul li::marker {
    color: #f26841;
    font-size: 19px;
}

.section.metro-cities-wrapper .default-content-wrapper>ul li a,
.section.metro-cities-wrapper .city-list-wrapper .city-list > ul li a {
    color: #333;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.section.metro-cities-wrapper .default-content-wrapper>ul li a:hover,
.section.metro-cities-wrapper .city-list-wrapper .city-list > ul li a:hover{
    color: #f26841
}

@media screen and (max-width:767px) {
    .section.metro-cities-wrapper .default-content-wrapper {
        padding: 40px 0;
    }

    .section.metro-cities-wrapper .city-list-wrapper {
        padding: 0 0 40px 0;
    }

    .section.metro-cities-wrapper .default-content-wrapper>h2 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
    }

    .section.metro-cities-wrapper .default-content-wrapper>p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 4px;
        margin-bottom: 20px;
    }

    .section.metro-cities-wrapper .default-content-wrapper>ul,
    .section.metro-cities-wrapper .city-list-wrapper .city-list > ul {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


/* Quick Approvals end */