.download-piramal-css {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

.download-piramal-css > div:first-child p{
    position: relative;
}
.download-piramal-css .default-content-wrapper p:first-child img {
    border-radius: 20px;
}

.download-piramal-css .default-content-wrapper h4{
    position: absolute;
}

.download-piramal-css .default-content-wrapper p:nth-child(2){
    position: absolute;
    width: 156px;
    height: 52px;

}
.download-piramal-css .default-content-wrapper p:nth-child(3){
    position: absolute;
    width: 156px;
    height: 52px;
    left: 45%;
}
.download-piramal-css .download-piramal-wrapper .download-piramal p{
    position: absolute;
    top: 25%;
    font-size: 30px;
    font-family: "Nunito-Regular";
    font-weight: 700;
    color: #ffffff;
    left: 15%;
}
.download-piramal-css .default-content-wrapper:last-child {
    position: absolute;
    top: 35%;
    font-size: 24px;
    font-family: "Nunito-Regular";
    color: #ffffff;
    left: 15%;
    margin-bottom: 0;
}
.download-piramal-css .default-content-wrapper:last-child p{
    margin-bottom: 0;
}

.download-piramal-css .default-content-wrapper p:nth-child(4){
    display: none;
}
.download-piramal-css .button-container{
    display: none;
}


@media screen and (max-width:767.99px) {
    .download-piramal-css .default-content-wrapper h4,
    .download-piramal-css > div:first-child p,
    .download-piramal-css .default-content-wrapper p:first-child img,
    .download-piramal-css .default-content-wrapper p:nth-child(2),
    .download-piramal-css .default-content-wrapper p:nth-child(3),
    .download-piramal-css .download-piramal-wrapper
    {
        display: none;
    }
    .download-piramal-css .default-content-wrapper p:nth-child(4){
        position: absolute;
        bottom: 50%;
        display: block;
    }
    .download-piramal-css .button-container {
        display: block;
    }
    .download-piramal-css .button-container a{
        display: block;
        position: absolute;
        font-size: 12px;
        top: -50%;
        background: #F26841;
        left: 20px;
        padding: 8px 15px;
        border-radius: 10px;
        margin-top: 0;
    }
    .download-piramal-css .default-content-wrapper:last-child {
        position: relative;
        left: 1%;
    }
    .download-piramal-css .default-content-wrapper p:nth-child(4) img{
        width: revert-layer;
        height: 176px;
    }
}