.section.ratings-card-wrapper .default-content-wrapper #ratings{
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;
}
.cards ul li .cards-card-image picture img{
    height: 74px;
    width: 253px;
    object-fit: contain;
}
.section.ratings-card-wrapper .cards-wrapper .cards ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
}
.section.ratings-card-wrapper .cards-wrapper .cards ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    box-shadow: 0 4px 9pt rgba(51, 51, 51, .078);
    border-radius: 16px;
    border: none;
}
.section.ratings-card-wrapper .cards-wrapper .cards ul li .cards-card-body .button-container .button{
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    background: unset;
    color: black;
    margin: unset;
}
.section.ratings-card-wrapper .cards-wrapper .cards ul li .cards-card-body{
    margin: unset;
}

@media (max-width: 786px) {
.section.ratings-card-wrapper .cards-wrapper .cards ul{
    grid-template-columns: 1fr;
}
}
