/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 2em;
  margin: auto;
  max-width: 1264px;
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after{
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;
    font-size: var(--body-font-size-xs);
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--light-color);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
}

/* header custom css */

.header-wrapper .nav-wrapper {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  height: 112px;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.header-wrapper .nav-wrapper nav {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  gap: 0;
  padding: 0 12px;
}

.header-wrapper .nav-wrapper nav .nav-brand .default-content-wrapper>picture>img {
  width: 108px;
  height: 58px;
}

.header-wrapper .nav-wrapper nav .nav-sections {
  display: flex;
  flex-basis: auto;
  background-color: #fff;
  flex-grow: 1;
  align-items: center;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper {
  margin-left: auto;
}

.header-wrapper .nav-wrapper nav .nav-brand .default-content-wrapper a img {
  width: 100%;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li {
  font-size: 16px;
  font-weight: 700;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul {
  display: flex;
  flex-wrap: wrap;
  gap: unset;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul::before {
  content: unset;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul>li>p {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li>ul {
  display: block;
  width: 100%;
  margin-top: 8px;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li>ul>li {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 14px;
  margin-bottom: 12px;
  color: rgb(51 51 51);
  font-weight: 300;
  line-height: normal;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li.nav-drop {
  position: relative;
  padding-right: 20px;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li:last-child {
  margin-right: 0;
}


.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li.nav-drop {
  padding-right: 20px;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li {
  position: unset;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li.nav-drop {
  position: unset;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul {
  width: 100%;
  left: 0;
  padding: 0 8.7%;
  background-color: rgb(239 239 239);
  position: absolute;
  top: 100%;
  margin-top: 0;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li {
  width: 20%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 8px;
  padding-right: 8px;
  height: max-content;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li>ul {
  display: block;
  width: 100%;
  margin-top: 8px;
}

.header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li>ul>li {
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 14px;
  margin-bottom: 12px;
  color: rgb(51 51 51);
  font-weight: 300;
  line-height: normal;
}


.header-wrapper .nav-wrapper nav .nav-tools .default-content-wrapper p {
  min-width: 70px;
  border-radius: 19px;
  color: #f26841;
  border: 1px solid #f26841;
  text-align: center;
  padding: 3px 4px 3px 12px;
  font-size: 12px;
  display: flex;
  align-items: center;
  background-color: #fef0ec;
}

.header-wrapper .nav-wrapper nav .nav-tools .default-content-wrapper p a img {
  width: 28px;
  height: 28px;
}


@media screen and (min-width: 768px) {
  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li.nav-drop[aria-expanded="true"]>picture::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -35px;
      width: calc(100% + 15px);
      height: 2.5px;
      background-color: #f26841;
      transition: all ease 0.3s;
  }
}

@media screen and (max-width: 767.99px) {
  .header-wrapper .nav-wrapper nav{
      min-height: unset !important;
  }

  .header-wrapper .nav-wrapper {
      height: 71px;
  }

  .header-wrapper .nav-wrapper .nav-hamburger {
      position: absolute;
      height: 30px;
      width: 30px;
      right: 1rem;
  }

  .header-wrapper .nav-wrapper .nav-hamburger button {
      height: 30px;
      width: 30px;
  }

  .header-wrapper .nav-wrapper .nav-hamburger button .nav-hamburger-icon {
      height: 1.5px;
      background: #666666;
      width: 26px;
  }

  .header-wrapper .nav-wrapper .nav-hamburger button .nav-hamburger-icon::before,
  .header-wrapper .nav-wrapper .nav-hamburger button .nav-hamburger-icon::after {
      width: 26px;
      background: #666666;
  }

  .header-wrapper .nav-wrapper .nav-hamburger button .nav-hamburger-icon::before {
      top: -8.5px;
  }

  .header-wrapper .nav-wrapper .nav-hamburger button .nav-hamburger-icon::after {
      top: 7.5px;
  }

  .header-wrapper .nav-wrapper nav .nav-tools {
      margin-right: calc(1rem + 30px);
  }

  .header-wrapper .nav-wrapper nav .nav-sections {
      display: none;
  }

  .header-wrapper .nav-wrapper nav[aria-expanded="true"] .nav-sections {
      display: block;
      position: absolute;
      top: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 71px);
      left: 0;
      background-color: rgb(250 250 250);
      width: 100%;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul {
      position: unset;
  }

  .header-wrapper .nav-wrapper .nav-hamburger button[aria-label="Close navigation"] .nav-hamburger-icon {
      width: 0;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li{
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      padding: 16px;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul{
      background-color: transparent;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul{
      padding: 0 !important;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li[aria-expanded="true"]>ul{
      display: none;
      background-color: #fff;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li{
      width: 100%;
      background-color: #fff;
      padding: 16px 12px;
      padding-bottom: 0;
  }
  
  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li>ul{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-left: 0;
      padding-left: 30px;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li:last-child > ul{
      border-bottom: 0;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li.nav-drop{
      padding-right: 0;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li.nav-drop.active > ul{
      display: flex;
  }

  .header-wrapper .nav-wrapper nav .nav-sections .default-content-wrapper>ul>li>ul>li:last-child{
      padding-bottom: 16px;
  }
}

/* header custom css */



