.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a{
    text-decoration: none;
}
.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image {
    display: block;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 540px; */
}

.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description {
    max-width: 1240px;
    margin: 0 auto;
    padding: 120px 0 158px;
}

.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage {
    width: 80%;
}

.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>h2 .title strong {
    color: #fff;
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 16px;
}

.section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>p .title {
    color: #fff;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    width: 73%;
}

@media screen and (max-width: 1400px) {
    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description {
        max-width: 76.1%;
    }
}

@media screen and (max-width:1024px) {
    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description {
        max-width: 100%;
        padding: 58px 16px 160px;
    }

    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage {
        width: 100%;
    }

    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>p .title {
        width: unset;
    }
}

@media screen and (max-width:767px) {

    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>h2 .title strong {
        font-size: 24px;
        line-height: 32px;
    }

    .section.corporate-financing-banner-wrapper .teaserv2-wrapper .teaserv2>a .bg-image .description .containerimage>.cmp-container>.text>.cmp-text>p .title {
        font-size: 14px;
        line-height: 20px;
    }
}