.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation{
    margin-top: 40px;
 }
 .section.home-loans-products-wrapper .default-content-wrapper #more-home-loan-products{
    color: #000;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
 }
.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper {
    position: relative;
}
.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .cmp-teaser__link{
    background: #fff9f2;
    border-radius: 9pt 9pt 0 0;
    display: flex;
    gap: 24px;
    justify-content: start;
    padding: 1pc 24px 40px;
    flex-direction: column-reverse;
}

.homeloanteaser a:nth-child(2) img{
    position: absolute;
    top: 17px;
    right: 24px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .cmp-teaser__link:hover{
    text-decoration: none;
}

.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .cmp-teaser__link .cmp-teaser__content p{
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 4px;
    width: 95%;
}

.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .cmp-teaser__link .cmp-teaser__content p:nth-child(1) strong{
    color: #000;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
}
.cmp-teaser__link .cmp-teaser__image img{
    height: 12px;
    width: 137px;
    cursor: pointer;
}

.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .cmp-teaser__link .cmp-teaser__image .cmp-image__image{
    height: 12px;
    width: 137px;
    cursor: pointer;
}
.section.home-loans-products-wrapper .homeloanteaser .cmp-teaser .keyfeature-container .keyfeatures-info {
    position: relative;
    background-color: #fff4e7;
    border-radius: 8px;
    height: 100%;
    position: relative;
    z-index: 20;
}
.section.home-loans-products-wrapper .homeloanteaser .cmp-teaser .keyfeature-container{
    border-top: 1px solid #eeebeb;
}
.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .keyfeature-container .keyfeatures-info .plusicon,

.section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .keyfeature-container .keyfeatures-info .minusicon{
    height: 16px;
    width: 16px;
    position: absolute;
    top: 20px;
    z-index: -1;
    top: 20px;
    right: 24px
}
.section.home-loans-products-wrapper .homeloanteaser .cmp-teaser .keyfeature-container .keyfeatures-info .heading{
    color: #333;
    cursor: pointer;
    font-family: Nunito-Bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 16px 24px;
    cursor: pointer;
}

.section.home-loans-products-wrapper .homeloanteaser .keyfeature-container .keyfeatures .feature{
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 24px;
}
.section.home-loans-products-wrapper .homeloanteaser .keyfeature-container .keyfeatures .feature .feature-details{
    padding-left: 16px;
}

.section.home-loans-products-wrapper .homeloanteaser .keyfeature-container .keyfeatures .feature .feature-details div p:first-child{
    color: #666;
    font-family: Nunito-Regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.section.home-loans-products-wrapper .homeloanteaser .keyfeature-container .keyfeatures .feature .feature-details div p:last-child strong{
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 4px;
}
.keyfeature-container .keyfeatures-info .keyfeatures{
    padding: 0 24px 16px;
}
.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures div .homeloanteaser .cmp-teaser .cmp-teaser__link .cmp-teaser__image .cmp-image .cmp-image__image{
    width: 100%;
    max-width: 137px;
    height: auto;
}
@media screen and (max-width: 767.99px) {
    .section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container{
        grid-template-columns: 1fr;
    }
    .section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation{
        margin-top: 16px;
    }
    .section.home-loans-products-wrapper .default-content-wrapper #more-home-loan-products{
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
    }
    .section.home-loans-products-wrapper .homeloanteaser .keyfeature-container .keyfeatures .feature .feature-details div p:last-child strong{
        font-size: 16px;
        line-height: 24px;
    }
    .section.home-loans-products-wrapper .homeloanteaser .keyfeature-container .keyfeatures .feature .feature-details div p:first-child{
        font-size: 12px;
        line-height: 16px;
    }
    .section.home-loans-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .keyfeatures-wrapper .keyfeatures .homeloanteaser .cmp-teaser .cmp-teaser__link .cmp-teaser__content p{
        font-size: 14px;
        line-height: 20px;
    }
    .section.home-loans-products-wrapper .homeloanteaser .cmp-teaser .keyfeature-container .keyfeatures-info .heading{
        font-size: 14px;
        line-height: 20px;
    }
}
