/* fees and charges start */

.section.fees-charges-wrapper .default-content-wrapper h2 {
    color: var(--black);
    display: block;
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
}

.section.fees-charges-wrapper .default-content-wrapper p {
    color: #666;
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 8px;
}

.section.fees-charges-wrapper .default-content-wrapper p>strong {
    color: var(--black);
    display: block;
    font-family: 'Nunito-Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 0;
}

.section.fees-charges-wrapper .code-wrapper .code>div>table {
    border: 1px solid #d7dce1;
    border-collapse: unset;
    border-radius: 10px;
    margin-top: 24px;
    width: 100%;
}

.section.fees-charges-wrapper .code-wrapper .code>div>table>tbody>tr>th {
    background-color: var(--rosewhite);
    border-bottom: 1px solid #d7dce1;
    border-left: 1px solid #d7dce1;
    color: #4d4d4d;
    font-family: Nunito-Bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 24px;
    text-align: left;
    vertical-align: middle;
}

.section.fees-charges-wrapper .code-wrapper .code>div>table>tbody>tr :first-child {
    border-left: unset;
    border-radius: 10px 0 0 0;
}

.section.fees-charges-wrapper .code-wrapper .code>div>table>tbody>tr :nth-child(2) {
    border-radius: 0 10px 0 0;
}

.section.fees-charges-wrapper .code-wrapper .code>div>table>tbody>tr:last-child td {
    border-bottom: unset;
}

.section.fees-charges-wrapper .code-wrapper .code>div>table>tbody>tr>td {
    border-bottom: 1px solid #d7dce1;
    border-left: 1px solid #d7dce1;
    color: #20303f;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 24px;
    text-align: left;
    vertical-align: middle;
}

/* table with image  */
.section.fees-charges-wrapper.three-col-table .code-wrapper .code > div > table > tbody > tr>th,
.section.fees-charges-wrapper.three-col-table .code-wrapper .code > div > table > tbody > tr>td {
    width: 33.33%;
    text-align: center;
}

.section.fees-charges-wrapper.three-col-table .code-wrapper .code > div > table > tbody > tr>td>p {
    position: relative;
}

.section.fees-charges-wrapper.three-col-table .code-wrapper .code > div > table > tbody > tr>td>p>img {
    position: absolute;
    width: 18px;
    height: 18px;
    top: -15px;
    left: 47%;
}

@media screen and (max-width: 767px) {
    .section.fees-charges-wrapper .default-content-wrapper h2 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
    }

    .section.fees-charges-wrapper .default-content-wrapper p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 4px;
    }

    .section.fees-charges-wrapper .code-wrapper .code>div>table {
        margin-top: 8px;
    }

    .section.fees-charges-wrapper .code-wrapper .code>div>table>tbody>tr>th {
        padding: 24px 12px 24px 16px;
    }

    .section.fees-charges-wrapper .code-wrapper .code>div>table>tbody>tr>td {
        font-size: 12px;
        line-height: 16px;
        padding: 24px 16px;
    }

    .section.fees-charges-wrapper .default-content-wrapper p>strong {
        font-size: 14px;
        line-height: 20px;
    }

    .section.fees-charges-wrapper.three-col-table .code-wrapper .code > div > table > tbody > tr>td>p>img {
        width: 20px;
        height: 12px;
        top: 1px;
        left: 4px;
    }

    .section.fees-charges-wrapper.three-col-table .code-wrapper .code.block>div {
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .section.fees-charges-wrapper.three-col-table .code-wrapper .code.block > div > table > tbody > tr>th, 
    .section.fees-charges-wrapper.three-col-table .code-wrapper .code.block > div > table > tbody > tr>td {
        min-width: 166px;
    }
}

/* fees and charges end */


/* microfinance loans table start */

.section.microfinance-loan-wrapper .default-content-wrapper h2 {
    font-size: 24px;
    margin-bottom: 8px;
    padding: 0;
}

.section.microfinance-loan-wrapper .code-wrapper .code>div>table {
    border-radius: unset;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
}

.section.microfinance-loan-wrapper .code-wrapper .code>div>table>tbody>tr :nth-child(2) {
    border-radius: unset;
}

.section.microfinance-loan-wrapper .code-wrapper .code>div>table>tbody>tr:first-child td {
    background-color: var(--greyishblue);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 20px 5px;
    text-align: center;
    border-radius: unset;
    width: 25%;
    border: 1px solid var(--dark-color)
}

.section.microfinance-loan-wrapper .code-wrapper .code>div>table>tbody>tr>td {
    border: 1px solid var(--dark-color);
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
}

.section.microfinance-loan-wrapper .code-wrapper .code>div>table>tbody>tr :first-child {
    border-radius: unset;
}

@media screen and (max-width: 767px) {
    .section.microfinance-loan-wrapper .default-content-wrapper h2 {
        font-size: 16px;
        line-height: 24px;
    }

    .section.microfinance-loan-wrapper .code-wrapper .code>div>table>tbody>tr:first-child td {
        padding: 20px 0;
    }
}
/* microfinance loans table end */


/* csr committee table start */

.section.csr-commitee-wrapper .default-content-wrapper h2 {
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 40px;
    color: var(--gradient-gray);
    margin-bottom: 16px;
}

.section.csr-commitee-wrapper .code-wrapper .code>div>table>tbody>tr th {
    background-color: var(--greyishblue);
    border: 1px solid var(--dark-color);
    color: var(--background-color);
    font-family: Nunito-Bold, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    padding: 16px 4px;
    text-align: center;
}

.section.csr-commitee-wrapper .code-wrapper .code>div>table>tbody>tr>td {
    line-height: 21px;
    padding: 8px;
}

.section.csr-commitee-wrapper .code-wrapper .code>div>table>tbody>tr:nth-child(odd){
    background-color: var(--lightgrey);
}
/* csr committee table end */


/* offer document table start */
.section.offer-document-wrapper .default-content-wrapper h2 {
    color: #333;
    margin-bottom: 40px;
}

.section.offer-document-wrapper .code-wrapper .code>div>table>tbody>tr>td>u>a {
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

.section.offer-document-wrapper .code-wrapper .code>div>table>tbody>tr>td>ul>li>a {
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

@media screen and (max-width: 767px) {
    .section.offer-document-wrapper .default-content-wrapper h2 {
        font-size: 16px;
        line-height: 24px;
    }
}
/* offer document table end */