/* fees and charges start */

.section.fees-charges-wrapper .default-content-wrapper h2 {
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
} 

.section.fees-charges-wrapper .default-content-wrapper p {
    color: #666;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 8px;
}

.section.fees-charges-wrapper .code-wrapper .code > div > table {
    border: 1px solid #d7dce1;
    border-collapse: unset;
    border-radius: 10px;
    margin-top: 24px;
    width: 100%;
}

.section.fees-charges-wrapper .code-wrapper .code > div > table > tbody > tr > th {
    background-color: #fef0ec;
    border-bottom: 1px solid #d7dce1;
    border-left: 1px solid #d7dce1;
    color: #4d4d4d;
    font-family: Nunito-Bold, sans-serif;
    font-size: 1pc;
    font-weight: 700;
    line-height: 24px;
    padding: 24px;
    text-align: left;
    vertical-align: middle;
}

.section.fees-charges-wrapper .code-wrapper .code > div > table > tbody > tr :first-child {
    border-left: unset;
    border-radius: 10px 0 0 0;
}

.section.fees-charges-wrapper .code-wrapper .code > div > table > tbody > tr :nth-child(2) {
    border-radius: 0 10px 0 0;
}

.section.fees-charges-wrapper .code-wrapper .code > div > table > tbody > tr:last-child td {
    border-bottom: unset;
}

.section.fees-charges-wrapper .code-wrapper .code > div > table > tbody > tr > td {
    border-bottom: 1px solid #d7dce1;
    border-left: 1px solid #d7dce1;
    color: #20303f;
    font-family: Nunito-Regular, sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
    padding: 24px;
    text-align: left;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .section.fees-charges-wrapper .default-content-wrapper h2 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 4px;
    } 

    .section.fees-charges-wrapper .default-content-wrapper p {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 4px;
    }

    .section.fees-charges-wrapper .code-wrapper .code > div > table {
        margin-top: 8px;
    }

    .section.fees-charges-wrapper .code-wrapper .code > div > table > tbody > tr > th {
        padding: 24px 9pt 24px 1pc;
    }

    .section.fees-charges-wrapper .code-wrapper .code > div > table > tbody > tr > td {
        font-size: 9pt;
        line-height: 1pc;
        padding: 24px 1pc;
    }
}
/* fees and charges end */