.tabs {
    background-color: var(--spectrum-gray-100);
    padding: 14px 21px 21px;
    border-radius: 7px;
    margin-bottom: 28px;
  }
  .tabs::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--spectrum-gray-300);
    position: relative;
    top: 56px;
  }
  .tabs .tab-list {
    overflow-x: auto;
    white-space: nowrap;
  }
  .tabs .tab-list button.tab-title {
    background: none;
    color: var(--spectrum-gray-700);
    padding: 0;
    margin: 0;
    height: 56px;
    line-height: 56px;
    white-space: nowrap;
    font-family: var(--body-font-family);
    font-size: var(--exlm-font-size-content);
    font-weight: 400;
    border: 0;
    border-radius: 0;
    position: relative;
  }
  .tabs .tab-list button.tab-title:not(:first-child) {
    margin-left: 24px;
  }
  .tabs .tab-list button.tab-title[aria-selected=true] {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    border-radius: 0;
  }
  .tabs .tab-content {
    padding: 10.5px 0;
    color: var(--spectrum-gray-800);
    font-family: var(--body-font-family);
    font-size: var(--exlm-font-size-content);
    font-weight: 400;
  }
  .tabs .tab-content .tabpanel {
    display: none;
    margin-bottom: 12px;
  }
  .tabs .tab-content .tabpanel.active {
    display: block;
  }

  /* tabs inside tabs start */
  .section.tabs-container > .default-content-wrapper h3 {
    font-family: 'Nunito-Extrabold', sans-serif;
    font-size: 40px;
    line-height: 3pc;
    margin-bottom: 1.4pc;
  }

  .section.tabs-container .tabs-wrapper .tab-list button.tab-title {
      font-family: Nunito-Regular,sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 2pc;
      margin-right: 40px;
      padding: unset;
  }

  .section.tabs-container .tabs-wrapper .tab-list button.tab-title:not(:first-child) {
    margin-left: unset;
  }

  .section.tabs-container .tabs-wrapper>.tabs {
    padding: unset;
  }

  .section.tabs-container .tabs-wrapper .tab-list button.tab-title[aria-selected=true] {
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
    font-family: 'Nunito-Extrabold',sans-serif;
    font-weight: 800;
  }

  .section.tabs-container .tabs-wrapper .tabs>.tab-content{
    border-radius: 1pc;
    box-shadow: 0 4px 9pt rgba(51,51,51,.078);
    display: block;
    margin: auto auto 24px;
    padding: 24px;
    width: 100%;
  }

  .section.tabs-container .tabs-wrapper .tabs>.tab-content .tabpanel {
    margin: unset;
  }

  .section.tabs-container .tabs-wrapper .tabs>.tab-content .tabpanel>ul {
    margin: unset;
    padding-left: 1pc;
  }

  .section.tabs-container .tabs-wrapper .tabs>.tab-content .tabpanel>ul>li {
    margin-bottom: 1pc;
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 18px;
    line-height: 28px;
    list-style-type: disc;
  }

  @media screen and (max-width:768px) {
    .section.tabs-container > .default-content-wrapper h3 {
      font-size: 24px;
      line-height: 2pc;
      margin-bottom: 0.5pc;
  }

  .section.tabs-container .tabs-wrapper .tab-list button.tab-title {
    font-size: 1pc;
    line-height: 24px;
    margin-right: 1pc;
    height: auto;
  }

  .section.tabs-container .tabs-wrapper .tabs>.tab-content {
    margin-bottom: 1pc;
    padding: 1pc; 
  }

  .section.tabs-container .tabs-wrapper .tabs>.tab-content .tabpanel>ul>li {
    font-size: 14px;
    line-height: 20px;
  }
  }
  /* tabs inside tabs end */