/* choose us start */

.section.choose-us-css .default-content-wrapper h2 {
  color: #000;
  display: block;
  font-family: 'Nunito-Extrabold', sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 8px;
  margin: 0;
}

.section.choose-us-css .default-content-wrapper p {
  margin-bottom: 24px;
  color: var(--gradient-gray);
  display: block;
  font-family: 'Nunito-Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 8px;
  margin: 0;
}

.section.choose-us-css>.columns-wrapper>.columns.block {
  margin-top: 20px;
}

.section.choose-us-css .columns-wrapper .columns>div {
  column-gap: 5pc;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
}

.section.choose-us-css .columns-wrapper .columns>div:nth-child(2) {
  padding-top: 40px;
}

.section.choose-us-css .columns-wrapper .columns div div>p {
  margin: 0;
}

.section.choose-us-css .columns-wrapper .columns div div :nth-child(1) {
  height: 72px;
  width: 72px;
}

.section.choose-us-css .columns-wrapper .columns div div>p>picture>img {
  height: 72px;
  width: 72px;
}

.section.choose-us-css .columns-wrapper .columns div div :nth-child(2) {
  color: #333;
  font-family: Nunito-Extrabold, sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  padding: 16px 0;
}

.section.choose-us-css .columns-wrapper .columns div div :nth-child(3) {
  color: #666;
  font-family: Nunito-Regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/* home loan finance start */

.section.home-loan-finance-wrapper .columns-wrapper .columns>div {
  column-gap: 176px;
}

.section.home-loan-finance-wrapper .columns-wrapper .columns>div:nth-child(3) {
  padding-top: 40px;
}

.section.home-loan-finance-card-fw .columns-wrapper .columns.block>div:last-child>div {
  flex: auto;
}

.section.home-loan-finance-card-fw .columns-wrapper .columns.block>div:last-child {
  column-gap: 0;
  padding-top: 40px;
}

/* home loan finance end */

@media screen and (max-width: 767px) {
  .section.choose-us-css .default-content-wrapper h2 {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 4px;
  }

  .section.choose-us-css .default-content-wrapper p,
  .section.choose-us-css .columns-wrapper .columns div div :nth-child(3) {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 4px;
  }

  .section.choose-us-css .rte-wrapper .rte div>div {
    margin-bottom: 20px;
  }

  .section.choose-us-css .columns-wrapper .columns>div {
    row-gap: 24px;
    grid-template-columns: 1fr;
  }

  .section.choose-us-css .columns-wrapper .columns>div:nth-child(2) {
    padding-top: 24px;
  }

  .section.choose-us-css .columns-wrapper .columns>div>div {
    width: 100%;
  }

  .section.choose-us-css .columns-wrapper .columns div div :nth-child(1) {
    height: 48px;
    width: 40px;
  }

  .section.choose-us-css .columns-wrapper .columns div div>p>picture>img {
    height: 48px;
    width: 40px;
  }

  .section.choose-us-css .columns-wrapper .columns div div :nth-child(2) {
    color: #333;
    font-family: Nunito-Bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 0 12px;
  }

  .section.home-loan-finance-wrapper .columns-wrapper .columns>div:nth-child(2) {
    padding-top: 24px;
  }

  .section.home-loan-finance-wrapper .columns-wrapper .columns>div:nth-child(3) {
    padding-top: 24px;
  }

  .section.choose-us-css .default-content-wrapper h2 {
    font-size: 1.25rem;
  }

  .section.choose-us-css .default-content-wrapper p {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .section.home-loan-finance-card-fw .columns-wrapper .columns.block>div:last-child {
    padding-top: 24px;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .section.choose-us-css .columns-wrapper .columns>div {
    column-gap: 36px;
    row-gap: 24px;
  }

  .section.choose-us-css .columns-wrapper .columns>div {
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .section.choose-us-css .columns-wrapper .columns div div>p>picture>img {
    height: 48px;
    width: 40px;
  }
  .section.choose-us-css .columns-wrapper .columns div div :nth-child(2) {
    color: #333;
    font-family: 'Nunito-Bold',sans-serif;
    font-size: 1pc;
    font-weight: 700;
    line-height: 24px;
    padding: 8px 0 9pt;
  }
  .section.choose-us-css .columns-wrapper .columns>div:nth-child(2) {
    padding-top: unset;
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .section.choose-us-css .columns-wrapper .columns>div {
    grid-template-columns: 1fr 1fr;
  }
  .section.choose-us-css .columns-wrapper .columns>div:nth-child(2) {
    padding-top: unset;
  }
}

/* choose us end */