    .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>p {
        display: none;
    }

    .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul {
        display: flex;
        flex-wrap: wrap;
        gap: 54px;
        overflow-x: hidden;
        margin: 32px 0 56px;
    }

    .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul>li a {
        align-items: center;
        border: 1px solid var(--darkcharcoal);
        border-radius: 50px;
        display: flex;
        padding: 8px 16px 7px;
        position: relative;
        color: var(--darkcharcoal);
        font-family: 'Nunito-Bold',sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-decoration: none;
    }

    .section.company-details-wrapper .tab-link-wrapper .tab-link.block>div>div>ul>li a:after {
        border-radius: 1px;
        border-right: 2px solid #ccc;
        content: "";
        height: 22px;
        position: absolute;
        right: -24px;
        top: 26%;
        width: 2px;
    }

    .section.company-details-wrapper .tab-link-wrapper .tab-link.block>div>div>ul>li:last-child a::after {
        content: none;
    }

    .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul>li>strong>a {
        background-color: var(--greyishblue);
        color: var(--white);
    }

    .section.company-details-wrapper .tab-link-wrapper .tab-link.block .text.legal-mobile-text {
        display: none;
    }


    @media screen and (max-width:1024px) {
        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .text.legal-mobile-text {
            display: block;
            padding: 24px 0;
        }
        
        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .text.legal-mobile-text .cmp-text {
            position: relative;
            border-bottom: 1px solid var(--zinc);
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .text.legal-mobile-text .cmp-text::after {
            color: var(--black);
            content: "";
            position: absolute;
            right: 5px;
            top: 32px;
            border: solid var(--black);
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .text.legal-mobile-text .cmp-text p:first-child {
            color: var(--greyishblue);
            font-family: 'Nunito-Regular',sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-bottom: 4px;
            pointer-events: none;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .text.legal-mobile-text .cmp-text p:nth-child(2) {
            color: var(--black);
            font-family: 'Nunito-Bold',sans-serif;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            padding-bottom: 4px;
            z-index: 1;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>p {
            text-align: center;
            border-bottom: 1px solid var(--whisper);
            display: block;
            padding: 37px 0 16px;
            color: var(--blackpearl);
            font-family: 'Nunito-Bold',sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul>li a {
            align-items: center;
            border: unset;
            border-radius: 50px;
            position: relative;
            text-decoration: none;
            color: rgba(0,0,0,.871);
            font-family: 'Nunito-Regular',sans-serif;
            font-size: 1pc;
            font-weight: 400;
            line-height: 24px;
            margin-top: 16px;
            padding: 0 16px 0 48px;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block>div>div>ul>li>strong>a {
            background-color: transparent;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul>li:last-child a {
            padding-bottom: 32px;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul>li a::before {
            border: 1px solid var(--orange);
            border-radius: 50%;
            content: "";
            display: block;
            height: 15px;
            left: 0;
            margin: 0 1pc;
            position: absolute;
            top: 4px;
            width: 15px;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul>li>strong a::after {
            background: var(--orange);
            border-radius: 50%;
            content: "";
            display: block;
            height: 9px;
            left: 4px;
            margin: 0 1pc;
            position: absolute;
            top: 8px;
            width: 9px;
            border: unset;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul {
            gap: 0;
            margin: 0;
            flex-direction: column;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>ul>li>strong>a {
            color: var(--black);
            background-color: transparent;
            font-family: 'Nunito-Bold',sans-serif;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details {
            display: none;
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details>div>::before {
            background-color: var(--silver);
            content: "";
            display: block;
            height: 4px;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-50%);
            width: 30px;
        } 

        /* Modal and Overlay Styles */
        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details {
            display: none;
            display: flex;
            outline: 0;
            z-index: 1200;
            position: fixed;
            overflow-y: auto;
            flex-direction: column;
            top: auto;
            left: 0;
            right: 0;
            bottom: 0;
            height: auto;
            background-color: var(--white);
            border-radius: 16px 16px 0 0;
            transform: translateY(100%);
            transition: transform 0.5s cubic-bezier(0, 0, 0.2, 1);
        }

        .section.company-details-wrapper .tab-link-wrapper .tab-link.block .compony-details.model-mob-hide {
            transform: translateY(0);
        }

        .body-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1100;
            display: none;
        }

        body.overlay-active .body-overlay {
            display: block;
            backdrop-filter: blur(0);
        }
    }