.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser{
    height: 100%;
    position: relative;
    max-width: 340px;
    width: 100%;
    margin-right: 20px;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .front-picture picture img{
    height: 72px;
    width: 72px;
    position: absolute;
    top: 15%;
    left: 10%;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .foreground{
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 16px;
    padding-top: 45px;
    margin-top: 40px;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .long-description p{
    color: #333;
    display: block;
    font-family: Nunito-Regular, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .long-description p strong{
    color: #000;
    font-family: Nunito-Bold, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.section.knowledge-card-carousel .primary.block>.carousel-navigation-buttons{
    display: block
}
.section.knowledge-card-carousel .default-content-wrapper #piramal-values{
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 2pc;
    font-weight: 800;
    line-height: 40px;
    padding-bottom: 8px;
    margin: 20px 24px;
}
.section.knowledge-card-carousel .teaser.block > .background{
    position: unset;
    border-radius: 18px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    min-height: 439px;
    height: 100%;
    justify-content: center;
}
.carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .cta{
    position: absolute;
    top: 19%;
    right: 19%;
}
.carousel-wrapper .carousel .panel-container .teaser .background .foreground .text .cta a{
    margin: unset;
    background-color: #365069;
    border-radius: 67px;
    color: #fff;
    cursor: default;
    display: block;
    font-family: Nunito-Bold, sans-serif;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding: 10px 20px;
}
.section.knowledge-card-carousel .carousel-navigation-buttons .slide-prev,
.section.knowledge-card-carousel .carousel-navigation-buttons .slide-next{
    position: absolute;
}
.section.knowledge-card-carousel .carousel-navigation-buttons .slide-prev{
    left: -8%;
    top: 50%;
}
.section.knowledge-card-carousel .carousel-navigation-buttons .slide-next{
    right: -8%;
    top: 50%;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel{
    position: relative;
}
.section.knowledge-card-carousel .carousel-wrapper .carousel .button-container{
    display: none;
}
@media (max-width: 786px) {
    .section.knowledge-card-carousel .carousel-wrapper .carousel .button-container{
        /* display: block; */
        display: flex;
    }   
    .section.knowledge-card-carousel .carousel.block>.button-container button{
        width: 4px;
        height: 4px;
        margin: 0 4px;
        border-radius: 50%;
        background: #000;
        opacity: .2;
    }
    .section.knowledge-card-carousel .carousel.block>.button-container button.selected{
        background-color: #000;
        border-radius: 4px;
        height: 4px;
        width: 16px;
        opacity: 1;
    }
}