.our-media-css .our-media-wrapper .our-media p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
    text-align: center;
    color: var(--gradient-gray);
    margin-bottom: 2rem;
  }
  
  .our-media-css .columns-wrapper .columns div {
      justify-content: space-around;
  }
  
  .our-media-css .columns-wrapper .columns .columns-img-col {
      display: flex;
      padding: 0;
  }
  
  .our-media-css .columns-wrapper .columns div div > picture > img {
      max-width: 100%;
      width: fit-content;
      height: 1.3rem;
  }
  
  @media (width >= 360px) {
      .our-media-css .columns-wrapper .columns div {
          gap: 2rem;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 0;
      }
  
      .our-media-css .columns-wrapper .columns .columns-img-col {
          width: 45%;
      }
  }
  
  @media (width >= 600px) {
      .our-media-css .columns-wrapper .columns .columns-img-col {
          width: unset;
      }
  }
  
  @media (width >= 900px) {
      .our-media-css .columns-wrapper .columns div {
          gap: 4.5rem;
          padding: 0 9.5rem;
      }
  }
  