.section .default-content-wrapper h2 {
    color: #000;
    display: block;
    font-family: Nunito-Extrabold, sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 8px;
}

.section .default-content-wrapper p {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.section .default-content-wrapper ul {
    margin-left: 24px;
    margin-top: 16px;
    list-style: none;
}

.section .default-content-wrapper ul > li {
    color: #000;
    font-family: Nunito-Regular, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    list-style-type: disc;
}

@media screen and (max-width: 768px) {
    .section .default-content-wrapper h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .section .default-content-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    .section .default-content-wrapper ul > li {
        font-size: 14px;
        line-height: 24px;
    }
}