/* loan products start */
.section.loan-products-wrapper{
  background-color: rgba(235, 238, 240, 0.31);
  padding: 72px 0 4pc;
}
.section.loan-products-wrapper .default-content-wrapper h2 {
  color: #000;
  display: block;
  font-family: Nunito-Extrabold, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 40px;
  padding-bottom: 8px;
  margin: 0;
}

.section.loan-products-wrapper .wrappercreation-wrapper>div>div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 24px;
}

.section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper {
  background-color: rgb(255 255 255 / 1);
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.08);
  padding: 24px;
  max-height: 128px;
}

.section.loan-products-wrapper .wrappercreation-wrapper .wrappercreation .wrapper-creation-container .teaserv2-wrapper .block>a:hover {
  text-decoration: none;
}

.section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .bg-image {
  display: flex;
  align-items: center;

}

.section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper:hover {
  box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.08),
    0px 0px 32px rgba(0, 0, 0, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .front-image>picture>img {
  height: 80px;
  width: 80px;
}

.section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .title {
  color: #000;
  font-family: Nunito-Bold, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  margin-left: 16px;
}

@media screen and (max-width: 1024px) {

  .section.loan-products-wrapper .wrappercreation-wrapper>div>div{
    gap: 16px;
  }
  .section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper{
    padding: unset;
  }
  .section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .teaserv2{
    padding: 12px;
  }
  .section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .bg-image{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .front-image>picture>img{
    display: block;
    width: 42px;
    height: 42px;
  }
  .section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .title{
    font-size: 10px;
    line-height: 15px;
    margin-left: unset;
  }
  .section.loan-products-wrapper .wrappercreation-wrapper .teaserv2-wrapper .bg-image .title >p{
    text-align: center;
  }
}

/* loan products end */