/* footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
} */

footer.footer-wrapper {
  padding: 0px;
  background: #365069 !important;
}
/* Footer Background Color */

/* Footer max Width Container */
footer.footer-wrapper .footer {
  margin: 0 auto;
  max-width: 1240px;
  padding: 48px 0;
}
.footer-wrapper p {
  color: #fff;
}

.footer-section-first {
  border-bottom: 1px solid rgb(94 115 119);
}
.footer-section-second {
  border-bottom: 1px solid rgb(94 115 119);
  padding: 1rem;
}
.footer-section-third {
  border-bottom: 1px solid rgb(94 115 119);
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-section-second {
  border-bottom: 1px solid rgb(94 115 119);
  padding: 1rem 0;
}
.footer-section-first .columns-img-col {
  margin-bottom: 40px;
}
.footer-section-first .columns-img-col img {
  width: 9.5rem;
  height: 4.25rem;
}

.footer-section-first .columns-wrapper p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Nunito-Bold";
  font-weight: 700;
  color: #fff;
  text-align: right;
  margin-right: 20%;
  position: relative;
}
.footer-section-first .columns-wrapper p sup{
  background-color: #41C672;
  color: #fff;
  font-size: 12px;
  font-family: 'Nunito-Bold';
  padding: 6px 10px;
  min-height: 24px;
  width: 50px;
  line-height: 12px;
  display: flex;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  margin-right: 6px;
  right: 23%;
  text-align: center;
  justify-content: center;
}

.footer-section-second .columns > div > div > ul {
  padding-left: 0;
  max-width: 260px;
  width: 100%;
}

.footer-section-third .default-content-wrapper > p {
  font-size: 0.875rem;
  line-height: 24px;
  font-family: "Nunito-Bold";
  margin: unset;
}

.footer-section-third
  .imgwithlink-wrapper
  .image-href-desktop
  > a
  > picture
  > img {
  height: 2.375rem;
  margin-left: 1rem;
  width: 128px;
}

.footer-section-third .rte-wrapper .rte > div > div > p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: unset;
  font-family: "Nunito-Regular";
}
.footer-section-four .default-content-wrapper p {
  color: #afb9c3;
  font-family: Nunito-Regular, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 6px;
  text-align: center;
}
.footer-section-four .default-content-wrapper p:first-child{
  font-family: "Nunito-bold";
  font-size: 16px;
  margin-bottom: 26px;
  line-height: 32px;
}

.footer-section-second .columns > div {
  align-items: unset;
  gap: unset;
}
.footer-section-second ul > li > p {
  font-size: 18px;
  color: #fff;
  padding-bottom: 8px;
  font-family: "Nunito-Extrabold";
  font-weight: 800;
}

.footer-section-second ul > li > ul > li {
  font-size: 16px;
  color: #fff;
  margin-top: 0.5rem;
  font-family: nunito-regular;
  cursor: pointer;
}

.footer-section-second ul > li::marker {
  color: transparent;
}
.footer-section-second .columns-4-cols ul:first-child,
.footer-section-second .columns-2-cols ul:first-child{
  margin-top: 2.5rem;
}
.footer-section-second .columns-2-cols ul li p:first-child{
  padding-bottom: 8px;
}
.footer-wrapper .section > div {
  margin: 0;
}
.footer-section-four.columns-container{
  flex-direction: column;
    display: flex;
}
.footer-section-four .columns-wrapper .columns-3-cols{
  margin-top: 24px;
  margin-bottom: 48px;
}
.footer-section-four .columns-wrapper .columns-3-cols .columns-img-col{
  gap: 32px;
}
.footer-section-four .default-content-wrapper{
  display: flex;
  flex-direction: column;
}
.footer-section-four.columns-container .columns-wrapper .columns-6-cols div{
  align-items: center;
  column-gap: 96px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  cursor: pointer;
}
.footer-section-four.columns-container .default-content-wrapper{
  padding-top: 48px;
}
.footer-section-four.columns-container  .columns > div > div {
  flex: unset;
}
.footer-section-third{
  display: grid;
  grid-template-columns: 13% 13% 40% 1fr;
}
.footer-section-third .default-content-wrapper p a{
  color: #f58667;
  font-family: Nunito-Regular, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 16px;
  text-decoration: none;
}
.footer-section-second{
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding-bottom: 40px;
}
.footer-section-second .columns-wrapper:first-child{
  grid-column: span 3 / span 3;
}

/* footer third section onwords css start  */
.section.mobile-footer-section-third,
.section.mobile-left-side-footer {
  display: none;
}

.section.footer-follow-us-wrapper {
  padding: 50px 0 48px;
}

.section.footer-follow-us-wrapper .default-content-wrapper p {
  color: #afb9c3;
  font-family: 'Nunito-Regular',sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.section.footer-follow-us-wrapper .wrappercreation-wrapper .wrapper-creation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 24px;
  column-gap: 6pc
}

.section.footer-follow-us-wrapper .wrappercreation-wrapper .imgwithlink-wrapper .image-href-desktop  a>picture img {
  height: 100%;
  width: 100%;
}

.section.footer-last-wrapper .default-content-wrapper {
  text-align: center  ;
}

.section.footer-last-wrapper .default-content-wrapper p>strong {
  color: #afb9c3;
  font-family: 'Nunito-Bold',sans-serif;
  font-size: 1pc;
  font-weight: 700;
  line-height: 2pc;
  text-align: center;
}

.section.footer-last-wrapper .default-content-wrapper p:nth-child(3) {
  margin-top: 26px;
}

.section.footer-last-wrapper .default-content-wrapper p:nth-child(1),
.section.footer-last-wrapper .default-content-wrapper p:nth-child(2) {
  margin-top: unset;
}

.section.footer-last-wrapper .default-content-wrapper p {
  color: #afb9c3;
  font-family: 'Nunito-Regular',sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 6px;
  text-align: center;
}
/* footer third section onwords css end  */

@media screen and (max-width:1366px) {
  .footer-section-first .columns-wrapper p sup {
    right: 102px;
  }
  .footer-section-third {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .footer-wrapper .footer {
    padding: 1.5rem 1rem;
  }
  .footer-wrapper .footer-section-first .columns-img-col img {
    width: 85px;
    height: 38px;
  }
  .footer-section-first .columns > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .footer-section-first .columns > div div:first-child {
    width: 50%;
  }
  .footer-section-first .columns > div div:nth-child(2) {
    width: 50%;
  }
  .footer-section-first .columns > div > div p {
    font-size: 12px;
    width: 100%;
    padding: 0 0 0 60px;
    text-align: left;
    margin: 0;
  }
  .footer-section-second ul > li > p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: #fff;
  }
  .footer-section-second ul > li > ul > li {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #fff;
    /* margin-left: -40px; */
    margin-top: 0.5rem;
  }
  .footer-section-second .columns > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-section-four .columns > div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer-section-four .columns img {
    width: 100%;
    height: 1.5rem;
  }
  .footer-section-four .default-content-wrapper p {
    font-size: 12px;
  }
  .footer-section-second .columns > div > div {
    width: 50%;
  }
  .footer-section-second ul > li > ul {
    margin-top: 10px 0;
  }
  .footer-section-second .columns > div > div > ul {
    padding-left: 0;
    margin: 0;
  }
  .footer-section-second .columns-2-cols ul li p:first-child{
    padding-bottom: unset;
  }
  .footer-section-third .imgwithlink-wrapper .imgwithlink .image-href-mobile img{
    height: 2.375rem;
    width: 100%;
  }
  .footer-section-third {
    flex-direction: column;
  }
  .footer-section-second ul > li > ul > li{
    color: #fff;
    font-family: Nunito-Regular, sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-top: unset;
    cursor: pointer;
  }
  .footer-section-second .columns-wrapper{
    grid-column: span 6 / span 6;
  }
  .footer-section-four.columns-container .columns-wrapper .columns-6-cols div{
    column-gap: 32px;
  }
  .footer-section-four .default-content-wrapper p:first-child{
    margin-bottom: 16px;
    font-size: 14px;
  }
  .footer-section-four.columns-container .default-content-wrapper{
    padding-top: 18px;
  }
  .footer-section-third {
    display: none;
  }
  .footer-section-second .columns-4-cols ul:first-child{
    margin-top: 24px;
  }
  .footer-section-second{
    padding-top: unset;
    padding-bottom: 24px;
  }
  .footer-section-first .columns > div > .columns-img-col{
    margin-bottom: unset;
  }
  .footer-section-first{
    padding: 24px 0;
  }
  .footer-section-first .columns-wrapper p sup{
    background-color: #41C672;
    color: #fff;
    font-size: 12px;
    font-family: 'Nunito-Bold';
    padding: 6px 10px;
    min-height: 24px;
    width: 50px;
    line-height: 12px;
    display: flex;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
    margin-right: 6px;
    text-align: center;
    justify-content: center;
    right: 77px;
    left: 0;
  }
  header nav .nav-brand img {
    width: 82px;
    height: 44px;
  }
  .header-wrapper .nav-wrapper nav .nav-brand .default-content-wrapper>p>picture>img {
    padding: 0;
  }
  .footer-section-four.columns-container .default-content-wrapper p :last-child{
    display: none;
  }
  .footer-section-second ul > li > ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer-section-four .columns-wrapper .columns .columns-img-col picture img{
    height: 25px;
    width: 25px;
  }
  .footer-section-first .columns-wrapper p sup{
    left: 0;
  }

/* footer third section onwords css start  */
  .section.mobile-footer-section-third, 
  .section.mobile-left-side-footer {
    display: block;
  }
  .section.mobile-footer-section-third {
    padding: 24px 0;
    border-bottom: 1px solid #5e7387;
  }
  
  .section.mobile-footer-section-third .default-content-wrapper p {
    color: #fff;
    font-family: 'Nunito-Bold',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
  }
  
  .section.mobile-footer-section-third .wrappercreation-wrapper .wrapper-creation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
  }
  
  .section.mobile-footer-section-third .wrappercreation-wrapper .wrapper-creation-container .image-href-desktop a>picture>img {
    width: 128px;
    height: 38px;
  }

  .section.mobile-left-side-footer {
    padding: 16px 0;
    border-bottom: 1px solid #5e7387;
  }

  .section.mobile-left-side-footer .default-content-wrapper p {
    color: #fff;
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .section.mobile-left-side-footer .default-content-wrapper p>a {
    display: block;
    color: #f58667;
  }

  .section.footer-follow-us-wrapper {
    padding: 24px 0;
  } 

  .section.footer-follow-us-wrapper .wrappercreation-wrapper .wrapper-creation-container {
    margin-top: 16px;
    column-gap: 32px;
  }

  .section.footer-follow-us-wrapper .wrappercreation-wrapper .imgwithlink-wrapper .image-href-desktop a>picture img {
    width: 22px;
    height: 24px;
  }

  .section.footer-last-wrapper .default-content-wrapper p>strong {
    font-size: 14px;
    line-height: 22px;
  }

  .section.footer-last-wrapper .default-content-wrapper p {
    margin-top: unset;
    font-size: 12px;
    line-height: 16px;
  }

  .section.footer-last-wrapper .default-content-wrapper p:nth-child(3),
  .section.footer-last-wrapper .default-content-wrapper p:nth-child(4) {
    margin-top: 16px;
  }

  .section.footer-last-wrapper .default-content-wrapper {
    padding-bottom: 24px;
  }
/* footer third section onwords css end  */
}

@media screen and (max-width: 1400px) {
  footer.footer-wrapper .footer {
    max-width: 76.1%;
  }
}

@media screen and (max-width: 1024px) {
  footer.footer-wrapper .footer {
      max-width: 100% ;
      padding: 0 16px;
  }
}

@media (min-width:768px) and (max-width:1024px) {
  .footer-section-first .columns > div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .footer-section-first .columns > div div:first-child {
    width: 50%;
  }
  .footer-section-first .columns > div div:nth-child(2) {
    width: 50%;
  }

/* footer third section onwords css start  */
  .section.mobile-footer-section-third, 
  .section.mobile-left-side-footer {
    display: block;
  } 
  .section.mobile-footer-section-third {
    padding: 24px 0 32px;
    border-bottom: 1px solid #5e7387;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  
  .section.mobile-footer-section-third .default-content-wrapper p {
    color: #fff;
    font-family: 'Nunito-Bold',sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
  }
  
  .section.mobile-footer-section-third .wrappercreation-wrapper .wrapper-creation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-top: 0;
  }
  
  .section.mobile-footer-section-third .wrappercreation-wrapper .wrapper-creation-container .image-href-desktop a>picture>img {
    width: 128px;
    height: 38px;
  }

  .section.mobile-left-side-footer {
    padding: 16px 0 24px;
    border-bottom: 1px solid #5e7387;
  }

  .section.mobile-left-side-footer .default-content-wrapper p {
    color: #fff;
    font-family: 'Nunito-Regular',sans-serif;
    font-size: 1pc;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .section.mobile-left-side-footer .default-content-wrapper p>a {
    display: inline;
    color: #f58667;
    margin-left: 16px;
  }

  .section.footer-follow-us-wrapper .wrappercreation-wrapper .imgwithlink-wrapper .image-href-desktop a>picture img {
    width: 25px;
    height: 40px;
  }

  .section.footer-last-wrapper .default-content-wrapper {
    padding-bottom: 48px;
  }

  .footer-section-first {
    padding-top: 48px;
  }

  .footer-section-second .columns > div {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-section-second .columns > div > div {
    width: 25%;
  }
/* footer third section onwords css end  */
}