/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */
html {
  scroll-behavior: smooth
}

input,
select {
  vertical-align: middle
}

ul {
  list-style: none
}

input,
input:focus,
select,
select:focus,
textarea,
textarea:focus {
  outline: 0
}

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --gradient-gray-light: #ebeef050;
  --gradient-gray: #666;
  --tw-text-opacity: 1;
  --darkcharcoal: #333333;
  --darkgrey: #666666;
  --white: #ffffff;
  --orange: #F26841;
  --black: #000000;
  --grey: #808080;
  --darkblack: #030303;
  --green: #41C66E;
  --greyishblue: #365069;
  --floralwhite: #FFF9F2;
  --lilen: #FFF4E7;
  --dustygrey: #999999;
  --matterhorn: #4d4d4d;
  --chinesesilver: #CCCCCC;
  --midnight: #20303f;
  --pattensblue: #d7dce1;
  --rosewhite: #FEF0EC;
  --solitude: #e5e7eb;
  --swansdown: #E3F6E9;
  --camarone: #277742;
  --zinc: #afb9c3;
  --cloud: #EBEEF0;
  --silver: #C4C4C4;
  --arsenic: #364754;
  --whisper: #EBEBEB;
  --fossil: #a9a9a9;
  --blackpearl: #010812;
  --lightgrey: #ebeaea;
  --blue: #007bff;
  --whitesmoke: #f8f8f8;
  --coral: #FAC3B3;
  --salmon: #F58667;
  --seashell: #fff7f4;
  --pale: #EEF3FF;
  --cinnabar: #da4d34;
  --coralred: #EF4444;
  --flamingo: #eb5752;
  --mischka: #9ca3af;
  --midorange: #f26741;
  --pearl: #F0F0F0;
  --submidorange: #fce6e5;
  --skyblue: #DEF3FD;
  /* fonts */
  --body-font-family: roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;



}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >=900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  padding-top: 112px !important;
}

body.appear {
  display: block;
}

/* header {
  height: var(--nav-height);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
/* main .section {
  padding: 0 0 72px;
} */

/* margin top */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-45 {
  margin-top: 45px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-55 {
  margin-top: 55px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-65 {
  margin-top: 65px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-75 {
  margin-top: 75px;
}

.mt-80 {
  margin-top: 80px;
}

/* margin bottom */
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-65 {
  margin-bottom: 65px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-80 {
  margin-bottom: 80px;
}


/* common classes for banner background start */
.teaser.block.--lilen>.background {
  background-color: var(--lilen);
}

.teaser.block.--rosewhite>.background {
  background-color: var(--rosewhite);
}

.teaser.block.bg--linear-red>.background {
  background: url("url"), linear-gradient(320.12deg, rgb(127, 76, 168) -0.41%, rgb(242, 104, 65) 101.64%) !important;
  background-size: 100% 100%;
}

.teaser.block.--skyblue>.background {
  background-color: var(--skyblue);
}

/* common classes for banner background end */

/* column classes */
@media screen and (min-width: 768px) {
  .col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width:768px) {
  body {
    padding-top: 71px !important;
  }

  /* mobile */
  /* margin top */
  .mob-mt-5 {
    margin-top: 5px;
  }

  .mob-mt-10 {
    margin-top: 10px;
  }

  .mob-mt-15 {
    margin-top: 15px;
  }

  .mob-mt-20 {
    margin-top: 20px;
  }

  .mob-mt-25 {
    margin-top: 25px;
  }

  .mob-mt-30 {
    margin-top: 30px;
  }

  .mob-mt-35 {
    margin-top: 35px;
  }

  .mob-mt-40 {
    margin-top: 40px;
  }

  .mob-mt-45 {
    margin-top: 45px;
  }

  .mob-mt-50 {
    margin-top: 50px;
  }

  .mob-mt-55 {
    margin-top: 55px;
  }

  .mob-mt-60 {
    margin-top: 6px;
  }

  .mob-mt-65 {
    margin-top: 65px;
  }

  .mob-mt-70 {
    margin-top: 70px;
  }

  .mob-mt-75 {
    margin-top: 75px;
  }

  .mob-mt-80 {
    margin-top: 80px;
  }

  /* margin bottom */
  .mob-mb-5 {
    margin-bottom: 5px;
  }

  .mob-mb-10 {
    margin-bottom: 10px;
  }

  .mob-mb-15 {
    margin-bottom: 15px;
  }

  .mob-mb-20 {
    margin-bottom: 20px;
  }

  .mob-mb-25 {
    margin-bottom: 25px;
  }

  .mob-mb-30 {
    margin-bottom: 30px;
  }

  .mob-mb-35 {
    margin-bottom: 35px;
  }

  .mob-mb-40 {
    margin-bottom: 40px;
  }

  .mob-mb-45 {
    margin-bottom: 45px;
  }

  .mob-mb-50 {
    margin-bottom: 50px;
  }

  .mob-mb-55 {
    margin-bottom: 55px;
  }

  .mob-mb-60 {
    margin-bottom: 60px;
  }

  .mob-mb-65 {
    margin-bottom: 65px;
  }

  .mob-mb-70 {
    margin-bottom: 70px;
  }

  .mob-mb-75 {
    margin-bottom: 75px;
  }

  .mob-mb-80 {
    margin-bottom: 80px;
  }

  .mob-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  /* column classes */
  .mob-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .mob-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .mob-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .mob-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .mob-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .mob-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .mob-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .mob-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .mob-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .mob-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .mob-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (width >=900px) {
  .section.page-container>div {
    max-width: 1240px !important;
    margin: 0 auto !important;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

.dp-none {
  display: none;
}

@media screen and (max-width: 1400px) {
  .section.page-container>div {
    max-width: 76.1% !important;
  }
}

@media screen and (max-width: 1024px) {
  .section.page-container>div {
    max-width: 100% !important;
    padding: 0 16px;
  }
}

.normal .carousel-control {
  display: none;
}

.carousel {
  position: relative;
  /* width: 80%; */
  /* max-width: 600px; */
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.carousel .carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel .carousel-item {
  /* min-width: 100%; */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.carousel .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel .carousel-control.prev {
  left: 10px;
}

.carousel .carousel-control.next {
  right: 10px;
}

.teaser.block {
  overflow: visible;
  ;
}